body {
  background-color: #333333;
  margin: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

header {
  color: #EEEEEE;
  font-size: 3rem;
  padding: 1rem;

  text-align: center;

  border-bottom: 10px solid #E4002B;
}

#searchForm {
  height: 20vh;

  color: #EEEEEE;
  font-size: 2rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

input {
  width: 50vw;
  max-width: 500px;

  line-height: 2rem;
  padding: 1rem;

  font-size: 2rem;
  color: #EEEEEE;

  background-color: #666666;

  border: 5px solid #666666;
  border-radius: 10px;
}


/* red used for The Met */
.red-bg {
  color: #EEEEEE;
  background-color: #E4002B;
}

.gray-bg {
  color: #EEEEEE;
  background-color: #333333;
}

.summaryText, .searchNavigation {
  margin: 0 auto;
  font-size: 1.5rem;

  text-align: center;
}

.summaryText {
  color: #999999;
  margin-bottom: 2rem;
}

.searchNavigation {
  color: #999999;
}

.pageLink {
  display: inline-block;
  margin: 0 0.5rem;
}

.pageLink, .pagePrev, .pageNext {
  cursor: pointer;
}

.pageLink:hover, .pagePrev:hover, .pageNext:hover {
  color: #E4002B;
}

.currentPage, .currentPage:hover {
  color: #EEEEEE;
  font-weight: bold;
  cursor: default;
}

.navDisabled, .navDisabled:hover {
  color: #444444;
  cursor: default;
}